<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<!--rewrite URL config -->
        <rewrite>
            <rules>
                <rule name="Angular friendly url">
                  <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
					<add input="{REQUEST_URI}" pattern="^/(as)" negate="true" />
					<add input="{REQUEST_URI}" pattern="^/(rs)" negate="true" />
					<add input="{REQUEST_URI}" pattern="^/(ds)" negate="true" />
                    <add input="{REQUEST_URI}" pattern="^/token" negate="true" />
                  </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
			
            </rules>
			<outboundRules>
					<rule name="Remove Server header">
					  <match serverVariable="RESPONSE_Server" pattern=".+" />
					  <action type="Rewrite" value="" />
					</rule>
			</outboundRules>
        </rewrite>
		 <httpProtocol>
			 <customHeaders>
			 </customHeaders>
		</httpProtocol>
        <security>	
            <requestFiltering>
                <verbs>
                    <add verb="OPTIONS" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
		<staticContent>
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    </system.webServer>	
	<location path="static">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="99999.00:00:00" />
			</staticContent>
		</system.webServer>		
	</location>	
	<location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>  
</configuration>
